:root {
--blue: #2C40B0ff;
--amethyst: #9C67D9ff;
--deep-pink: #FE0099ff;
--periwinkle: #C1B2F0ff;
--mauve: #CFB5F1ff;
--background-blend: rgba(255, 255, 255, 0.619)
}

/* Set background image */
Body {
    background-attachment: fixed;
    background-attachment: fixed;
    background-image: url("../images/pink-sky.jpeg");
    background-size: cover;
}

/* Apply low opacity color over background for visibility */
.background {
    background-color: var(--background-blend);
}

/* Adjusts entire header object */
header {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.099);
    backdrop-filter: blur(3px);
}

/* adjust the div containing header elements */
#header-div {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .5rem 0 .5rem 0;
}

/* sets flex for all containers in header section */
header div {
    flex: 1 1 1;
}

/* "ALEX GAEL" header block */
#header-name {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 22.5vw;
    line-height: .8;
    text-align: right;
    font-style: italic;
    font-weight: 900;
    text-transform: uppercase;
    padding: .5rem .5rem .5rem 0;
    margin: 0;
    /* colouring temporary. Replace after frame is built */
    color: white;
    background-color: var(--periwinkle);
}

/* Header Logo Settings */
#header-logo {
    height: 5rem;
    border-radius: 50rem;
    margin-bottom: .5rem;
}

#logo-div {
    height: 5rem;
    width: auto;
    text-align: center;
}

/* Banner Nav */
.navbar ul {
    width: 22.5vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1.5rem;
    font-size: 1.5rem
}

.navbar a {
    padding-left: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    /* change color */
    color: var(--amethyst);
    font-family: Arial, Helvetica, sans-serif;
}

.hamburger {
    display: none;
}

/* MAIN SECTION */
main {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .card {
    margin-bottom: 2.5rem;
}

/* Edits ALL h2 objects within BODY */
h2 {
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    font-size: 7rem;
    line-height: 5.3rem;
    margin: 0px 1rem 0px 0px;
    padding: 0px;
    color: var(--deep-pink);
}

/* ABOUT ME SECTION */
#about-me-div {
    height: 35vh;
    width: 75vw;
    margin-top: 7rem;
    display: flex;
    align-items: center;
    padding: 0px;
}

/* About Me Header Settings */
#about-me-title {
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: end;
    padding-right: 1rem;
    height: 100%;
    width: 25%;
    /* Make sure to re-colour */
    border-right: solid var(--deep-pink) 5px;
}

/* ABout Me Paragraph Settings */
#about-me-text span {
    display: flex;
    align-items: center;
    text-align: justify;
    width: 100%;
    padding-left: 1rem;
    margin-top: 0;
}

/* PORTFOLIO SECTION */
#portfolio-div {
    margin: 1.5rem 0px;
    height: 50vh;
    width: 75vw;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

/* Adjust Portfolio Header */
#portfolio-title-div {
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: start;
    height: 100%;
    width: 25%;
    /* Make sure to re-colour */
    border-left: solid var(--deep-pink) 5px;
    padding: 0px;
}

#portfolio-header {
    padding: 0px 0px 0px 1rem;
}

/* Div for entire protfolio display */
#display-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: calc(75vw * .75);
    height: 50vh;
}

/* Edit Large Card */
#featured-project {
    margin: 0px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 70%;
}

h3 {
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    color: var(--deep-pink);
}

#featured-project-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-image: url(../images/pink-sky.jpeg);
    background-size: cover;
    border: solid 3px var(--blue);
    border-radius: 2rem;
    transition: all 0.3s ease-in-out;
}

#featured-project-img span, .projects-img-text {
    font-size: 3rem;
    color: white;
    padding: 1rem;
    font-weight: 900;
}

/* PROJECTS Nav */
#projects-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(50vh * .3);
    width: calc(75vw * .75)
}

.projects-img {
    border-radius: 2rem;
    height: 80%;
    width: 20%;
    margin: 0px 1rem;
    background-size: cover;
    transition: all 0.3s ease-in-out;
}

.projects-img-text {
    border: solid 3px var(--blue);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.389);
    font-size: 2rem;
    transition: all 0.3s ease-in-out;
}

.projects-img-text:hover, #featured-project-img:hover {
    box-shadow: inset 0px 0px .8rem var(--deep-pink);
    border-color: var(--deep-pink);
}

/* NAV Backgrounds */
#image_1 {
    background: url(../images/pink-sky.jpeg);
    background-size: cover;
}
#image_2 {
    background: url(../images/pink-smear.jpeg);
    background-size: cover;
}
#image_3 {
    background: url(../images/pink-roses.jpeg);
    background-size: cover;
}
#image_4 {
    background: url(../images/pink-marble.jpeg);
    background-size: cover;
}
#image_5 {
    background: url(../images/p-ink.jpeg);
    background-size: cover;
}

/* ContactSECTION */
#contact-me {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--amethyst);
}

#contact-me div {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 50vw;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

h4{
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
    width: 100%;
}

/* Contact Me items */
#contact-me ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 2rem;
}

#contact-me a {
    color: var(--amethyst);
}

@media (max-width: 1199px) {
    #about-me-div {
        margin-top: 9rem;
        height: auto;
        width: 75vw;
        display: block;
    }

    #about-me-title {
        height: auto;
        width: auto;
        border-right: 0px;
        border-bottom: solid 5px var(--deep-pink);
    }

    #about-me-text {
        padding: 1rem 1rem;
    }  
    
    #portfolio-div {
        margin-top: 5rem;
        height: auto;
        width: 75vw;
        display: block;
    }

    #portfolio-title-div {
        height: auto;
        width: auto;
        border-left: 0px;
        border-bottom: solid 5px var(--deep-pink);
    }

    #display-container {
        width: 100%;
        margin-top: .5rem;
    }

    #featured-project {
        width: 95%;
    }

    #projects-nav {
        width: 95%;
        padding: 0px;
    }

    .projects-img {
        width: 19%;
        margin: 0px;
    }

    #contact-me div {
        width: 75vw;
    }

    #contact-me ul {
        padding: 0px;
        margin: 0px 0px 4rem 0px;
    }
 }



@media (max-width: 797px) {
    #about-me-div {
        width: 95vw;
    }

    #portfolio-div {
        width: 95vw;
    }

    #contact-me div {
        width: 95vw;
    }

    .navbar {
        display: none;
    }

    #hamburger-ul {
        text-align: center;
        width: 100vw;
        font-size: 3rem;
        position: absolute;
        left: 0px;
        top: 30px;
        background-color: white;
        border: 3px solid var(--deep-pink);
    }

    .hamburger ul a {
        text-align: right;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        font-weight: bold;
        color: var(--amethyst);
        padding-top: 10px;
    }

    .hamburger {
        width: 22.5vw;
        display: flex;
        flex-direction: row-reverse;
        margin-right: 1rem;
    }

    #menu-img {
        height: 50px;
        width: 50px;
    }

    .hidden {
        visibility: hidden;
    }

    #hamburger-anchor:focus + .hidden {
        visibility: visible;
    }

    #hamburger-anchor:focus + .hidden a {
        visibility: visible;
    }

    .hidden:hover {
        visibility: visible;
    }

    .hidden a:focus + .hidden {
        visibility: hidden;
    }
    
}